TELOXIDE_TOKEN=

TEST_TELEGRAM_IDS=123456789, 123456789

REMNAWAVE_URL=https://panel.example.com
REMNAWAVE_TOKEN=

DATABASE_URL=

TRIAL_DAYS=3
TRIAL_TRAFFIC_GIB=50
TRIAL_HWID_LIMIT=2
TRIAL_INTERNAL_SQUAD_NAME=Default-Squad

SERVICE_SUPPORT_TELEGRAM_URL=https://t.me/example_support
SERVICE_SUPPORT_EMAIL=support@example.com
SERVICE_PHONE=
SERVICE_CONTACT_ADDRESS=
SERVICE_DOCS_URL=
SERVICE_USER_AGREEMENT_URL=
SERVICE_PRIVACY_URL=


PLATEGA_BASE_URL=https://app.platega.io
PLATEGA_MERCHANT_ID=
PLATEGA_API_KEY=

PLATEGA_WEBHOOK_BIND=127.0.0.1:8081
PLATEGA_CALLBACK_URL=https://pay.silentoken.com/platega/webhook
PLATEGA_RETURN_URL=https://pay.silentoken.com/payment/success
PLATEGA_FAILED_URL=https://pay.silentoken.com/payment/failed


RUST_LOG=vpn_bot_tg=info,teloxide=info